@use "sass:map";

@use "variable" as *;

@function GetParam($params, $name, $default) {
	@if ($params == null) { @return $default; }
	$value: map.get($params, $name);
	@if ($value != null) { @return $value; }
	@return $default;
}

@mixin MixScreen($min: null, $max: null, $screen: false, $print: false) {
	@if ($min != null or $max != null or $screen or $print) {

		$media: '';
		$fill: false;

		@if ($screen) { $media: 'screen'; $fill: true; }
		@if ($print) { @if ($fill) { $media: $media + ' AND '; } $media: $media + 'print'; $fill: true; }
		@if ($min) { @if ($fill) { $media: $media + ' AND '; } $media: $media + '(min-width: ' + ($min + 1) + 'px)'; $fill: true; }
		@if ($max) { @if ($fill) { $media: $media + ' AND '; } $media: $media + '(max-width: ' + $max + 'px)'; }

		@media #{$media} {
			@content;
		}

	} @else {
		@content;
	}
}